In [2]:
import random
import pandas as pd
import numpy as np

In [12]:
# Create lists of random data
loan_amount = [random.randint(100000, 500000) for i in range(1000)]
credit_score = [random.randint(640, 850) for i in range(1000)]
property_value = [random.randint(200000, 700000) for i in range(1000)]
loan_to_value = [random.uniform(0.5, 1.0) for i in range(1000)]
loan_term = [random.choice([15, 20, 25, 30, 40]) for i in range(1000)]
employment_length = [random.choice(['< 1 year', '1-3 years', '3-5 years', '5-10 years', '10+ years']) for i in range(1000)]
location = [random.choice(['Urban', 'Suburban', 'Rural']) for i in range(1000)]
loan_type = [random.choice(['Fixed', 'Adjustable']) for i in range(1000)]
property_type = [random.choice(['Single Family', 'Multi Family', 'Condo', 'Townhouse']) for i in range(1000)]
state = [random.choice(['CA', 'NY', 'TX', 'FL', 'IL', 'PA', 'OH', 'GA', 'NC', 'MI']) for i in range(1000)]
debt_to_income_dti= [random.randint(10, 50) for i in range(1000)]
down_payment= [random.randint(10000, 100000) for i in range(1000)]
income= [random.randint(100000, 350000) for i in range(1000)]
occupancy_type= [random.choice(['Primary', 'Secondary', 'Investment']) for i in range(1000)]

In [44]:
# Calculate interest rates
interest_rate = [round(random.uniform(2.5, 5.5) + (credit_score[i]/100) - (loan_to_value[i]*0.1) - (loan_term[i]*0.2), 2) for i in range(1000)]

In [45]:
# Create a dictionary of the data
data = {'Loan Amount': loan_amount,
        'Credit Score': credit_score,
        'Property Value': property_value,
        'Loan-to-Value Ratio': loan_to_value,
        'Loan Term (years)': loan_term,
        'Employment Length': employment_length,
        'Location': location,
        'Loan Type': loan_type,
        'Property Type': property_type,
        'State': state,
        'Interest Rate': interest_rate,
        'Debt-To-Income DTI':debt_to_income_dti,
        'Down Payment $': down_payment,
        'Income': income,
        'Ocuppancy Type': occupancy_type
       }
# Convert dictionary to a dataframe
df = pd.DataFrame(data)
# Print the first 10 rows of the dataframe
df.head(100)

,Loan Amount,Credit Score,Property Value,Loan-to-Value Ratio,Loan Term (years),Employment Length,Location,Loan Type,Property Type,State,Interest Rate,Debt-To-Income DTI,Down Payment $,Income,Ocuppancy Type
0,151343,664,522963,0.594060,15,5-10 years,Urban,Fixed,Condo,OH,7.83,30,76478,170271,Primary
1,447602,836,652830,0.581282,25,3-5 years,Urban,Adjustable,Condo,IL,8.34,41,15499,234577,Primary
2,394962,827,359974,0.904199,30,< 1 year,Urban,Adjustable,Townhouse,IL,7.31,26,45188,112747,Primary
3,302640,771,257113,0.976901,25,10+ years,Suburban,Adjustable,Townhouse,TX,5.72,43,50888,171106,Investment
4,268633,804,241298,0.609487,25,5-10 years,Urban,Fixed,Multi Family,PA,8.21,29,70254,336231,Secondary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,295549,789,611783,0.815987,15,< 1 year,Urban,Adjustable,Multi Family,IL,9.65,46,83943,213831,Investment
96,179952,659,584598,0.896179,40,10+ years,Suburban,Fixed,Single Family,PA,3.94,44,85639,294141,Investment
97,298926,836,363796,0.836504,25,1-3 years,Suburban,Fixed,Single Family,OH,5.85,10,14973,276521,Investment
98,293130,849,346564,0.598865,20,1-3 years,Suburban,Fixed,Condo,TX,9.30,24,89860,323277,Secondary
99,399889,779,241375,0.718884,20,1-3 years,Urban,Adjustable,Condo,IL,7.43,19,29301,163311,Investment

In [55]:
df.dtypes

Loan Amount              int64
Credit Score             int64
Property Value           int64
Loan-to-Value Ratio    float64
Loan Term (years)        int64
Employment Length       object
Location                object
Loan Type               object
Property Type           object
State                   object
Interest Rate          float64
Debt-To-Income DTI       int64
Down Payment $           int64
Income                   int64
Ocuppancy Type          object
dtype: object

In [56]:
# Exporting the dataframe to a CSV file
df.to_csv('mortgage_interest_rates_gpt.csv', index=False)